# 忽略 Python 虛擬環境
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
macvenv/
winvenv/
__pycache__/
*.py[cod]
*.pyo
*.pyd

# 忽略編譯產物
build/
dist/
*.egg-info/
main.*
!main.py

# 忽略日誌文件
logs/*.log
*.log

# 忽略系統文件
.DS_Store
Thumbs.db

# 忽略暫存文件
*.swp
*.swo
*.tmp

# 忽略環境配置文件
.env

# 忽略特殊文件
*.zip
*.tar.gz

# 忽略生成的數據文件
*.txt
!requirements.txt